@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: white;
}

.pannel {
    overflow-x: auto;
    padding-right: 3rem;
}

.pannel>h1 {
    margin-top: 10rem;
    text-align: center;
}

table {
    width: inherit;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table tr th {
    background-color: #654062;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr.active-row {
    font-weight: bold;
    color: #654062;
}

table tr.active-row {
    font-weight: bold;
    color: #654062;
}

.pannel {
    padding: 3rem 5rem 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.operationContainer {
    margin-top: 4rem;
    width: inherit;
    display: flex;
    justify-content: center;
}

.btnAdd,
.del,
#accept,
#reject {
    box-shadow: inset 0px 1px 3px 0px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 5px;
    border: 1px solid #29668f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #3d768a;
}

.btnAdd:hover,
.del:hover,
#accept:hover,
#reject:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}