@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.headSection {
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: white;
    width: inherit;
    height: 120px;
    background-color: #222831;
}

.headSection>h1 {
    font-family: 'Cinzel', serif;
    padding-top: 2rem;
    padding-left: 2rem;
}

.myButton {
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
    background: linear-gradient(to bottom, #f0be48 5%, #ffd369 100%);
    background-color: #ffd369;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    width: 110px;
    margin: 2rem;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
}

.itemContainer {
    height: 100%;
    width: inherit;
    display: flex;
}

.menuItem {
    color: white;
    width: 270px;
    height: inherit;
    background-color: #222831;
}

.menuItem>h3 {
    width: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.pannel {
    width: 100%;
}

.menuItems {
    outline: none;
    font-size: 18px;
    padding: 7px 15px 7px;
    width: inherit;
    margin: 5px 0 5px;
    border: none;
    text-align: left;
    background: transparent;
    color: white;
}

.menuItems:hover {
    opacity: 40%;
}

.collapser {
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
    height: 3rem;
    width: 2rem;
}

.collapser>button {
    outline: none;
    height: inherit;
    width: inherit;
    color: white;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-color: #222831;
}