@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

.HeadSection {
    font-family: 'Courgette', cursive;
    font-size: large;
    color: white;
    display: flex;
    text-align: left;
    padding: 3rem;
    width: inherit;
    height: 130px;
    background-color: #222831;
}

.HeadSection>img {
    background-color: white;
    border-radius: 30%;
    padding: 10px;
}

.HeadSection>h1 {
    margin-left: 5rem;
    margin-top: 2.3rem;
}

.navContainer {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: right;
    height: 50px;
    background-color: #393e46;
}

.navContainer>ul {
    list-style-type: none;
    padding-right: 3.5rem;
}

.navContainer>ul>li {
    float: right;
}

.navContainer>ul>li>a {
    outline: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navContainer>ul>li>a:hover {
    color: #393e46;
    background-color: #ffd369;
}

.imgVisualContainer {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.imgVisualContainer>button {
    outline: none;
    opacity: 45%;
    font-size: 60px;
    margin: 0 1.4rem 0;
    background-color: transparent;
    border-style: none;
}

.imgVisualContainer>button:hover {
    opacity: 100%;
}

.imgVisual {
    text-align: center;
}

.LogCntainer {
    border-top: 3px solid #222831;
    border-bottom: 3px solid #222831;
    display: flex;
    justify-content: center;
    width: 100%;
}

.quote>h1,
.log>h1 {
    text-decoration: underline;
    padding: 3.5rem;
    font-family: 'Courgette', cursive;
}

.quote {
    text-align: center;
    width: 50%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.log {
    color: white;
    text-align: center;
    background-color: #222831;
    width: 50%;
}

.myButton {
    outline: none;
    background: linear-gradient(to bottom, #f0be48 5%, #ffd369 100%);
    background-color: #ffd369;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    width: 260px;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 15px 40px;
    text-decoration: none;
}

.quoteS>h1,
.logS>h1 {
    text-decoration: underline;
    padding: 3.5rem;
    font-family: 'Courgette', cursive;
}

.quoteS {
    text-align: center;
    width: 50%;
    background-color: #222831;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.logS {
    color: black;
    text-align: center;
    background-color: white;
    width: 50%;
}

.footer {
    margin-top: 6rem;
    width: inherit;
    height: 80px;
    padding: 4rem;
    text-align: center;
    background-color: #222831;
    color: white;
    font-family: 'Courgette', cursive;
}

.footer>h2 {
    padding-top: 2rem;
    font-family: 'Roboto', sans-serif;
}

.btnContainer {
    padding-bottom: 3rem;
}